:root{

    /*Color*/
--primary-color: #fff;
--blue-color: #1f89ff;
--bue-color-hv: #1969c4;
--txt-color: #000;
--navlink-txt-color: #222;
--bs-color: #dadada;
--card-color: #f0f0f0;
--i-bg-color: #f2f2f2;
--properties-sec-color: #fbfbfb;

    /*Sizes*/
--border-radius:2rem;
--pd-nav: 1rem;
--txt-fw: 500;
--header-txt: 7vmin;

    /*Others*/
--ts-time: all .4s ease-out;
--nav-bar-bs: 0.2rem 0.2rem 0.2rem #dadada;
--card-bs: 0.2rem 0.3rem 1rem #f0f0f0, -0.1rem -0.1rem 1rem #f0f0f0;
}


/*----------- Reset -----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans','Segoe UI', sans-serif;
}

ul{ list-style: none;}
a{ text-decoration: none;}

section{
    width: 90%;
    margin: 1rem auto;
}

header{
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: var(--nav-bar-bs);
}

/*----------- Components -----------*/
.ctn{
    background-color: var(--blue-color);
    color: var(--primary-color) !important;
    border-radius: var(--border-radius);
    padding: calc(var(--pd-nav) - .4rem) var(--pd-nav) !important;
}

.ctn:hover{
    background-color: var(--bue-color-hv);
    transition: var(--ts-time);
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--blue-color);
}

/*----------- Navegation Bar -----------*/
.navBar{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--pd-nav);
}

.navBar h1{
    color: var(--txt-color);
}

.navBar h1 .fa-home{
    color: var(--blue-color);
}

.navLinks li{
    display: inline-block;
    margin-left: calc(var(--pd-nav) + 1rem);
    padding: calc(var(--pd-nav) - .7rem);
}

.navLinks li a{
    font-weight: var(--txt-fw);
    color: var(--navlink-txt-color);
}


/*Mobile MenuBtn*/
.menuBtn{
    background-color: transparent;
    border: none;
    width: 2rem;
    display: none;
    
}

.menuBtn div{
    width: 100%;
    height: 4px;
    background-color: var(--blue-color);
    margin: 5px 0;
    border-radius: 3px;
    transition: var(--ts-time);
}

.menuBtn.active div:nth-child(1){
    transform: rotate(-45deg) translate(-5px, 4px);
}

.menuBtn.active div:nth-child(2){
    opacity: 0;
    width: 0;
}

.menuBtn.active div:nth-child(3){
    transform: rotate(45deg) translate(-7px, -7px);
}

.menuBtn:hover{
    cursor: pointer;
}

/*----------- Hero -----------*/
.hero{
    width: 100%;
    height: calc(100vh - 4rem);
    margin: 0;
    background-color: #1969c4;
    background-image: url('../img/home.jpg');
    background-position: center;
    background-size: cover;
    
}


/*Mobile Responsivity*/
@media screen and (max-width: 858px) {
       /*Navigation Bar*/
    .menuBtn{
        display: block;
    }


    .navLinks {
        height: 100vh;
        width: 100%;
        background-color: #282872;
        position: absolute;
        top: 4rem;
        right: 0;
        left: -100%;
        flex-direction: column;
        text-align: center;
        transition: all .5s ease;
    }

    .mobileMenu{
        left: 0;
    }

    .navLinks li:nth-child(1){
        margin-top: 8rem;
    }

    .navLinks li{
        margin-top: 1rem;
    }

    .navLinks li a{
        font-size: 1.2rem;
        color: #fff;
        font-weight: normal;
    }
}