

/*----------- Navegation Bar -----------*/
.nav_bar{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--pd-nav);
}

.nav_bar h1{
    color: var(--txt-color);
}

.nav_bar h1 .fa-home{
    color: var(--blue-color);
}

.nav_links li{
    display: inline-block;
    margin-left: calc(var(--pd-nav) + 1rem);
    padding: calc(var(--pd-nav) - .7rem);
}

.nav_links li a{
    font-weight: var(--txt-fw);
    color: var(--navlink-txt-color);
}

.nav_links li a:hover{
    color: var(--blue-color);
}

/*----------- Mobile MenuBtn -----------*/
.menuBtn{
    background-color: transparent;
    border: none;
    width: 2rem;
    display: none;
    
}

.menuBtn div{
    width: 100%;
    height: 4px;
    background-color: var(--blue-color);
    margin: 5px 0;
    border-radius: 3px;
    transition: var(--ts-time);
}

.menuBtn.active div:nth-child(1){
    transform: rotate(-45deg) translate(-5px, 4px);
}

.menuBtn.active div:nth-child(2){
    opacity: 0;
    width: 0;
}

.menuBtn.active div:nth-child(3){
    transform: rotate(45deg) translate(-7px, -7px);
}

.menuBtn:hover{
    cursor: pointer;
}

/*----------- Hero -----------*/
.hero{
    width: 100%;
    height: calc(100vh - 4rem);
    margin: 0;
    background-color: #1969c4;
    background-image: url('../img/home.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.hero_content{
    color: var(--primary-color);
    font-size: var(--header-txt);
    width: 50%;
    padding: calc( var(--pd-nav) * 2) ;
}

.hero_content h2{
    font-size: calc(var(--header-txt) - 1vmin);
}


/*----------- About Us -----------*/

.about_us{
    display: flex;   
}

.about_us .image_col{
    width: 50%;
}

.about_us .image_col img{
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius) 0;
}

.about_us .content_col{
    width: 50%;
    padding-left: var(--pd-nav);
}

.content_col h2{
margin: var(--pd-nav) 0;
width: 60%;
}

.content_col p{
    margin: var(--pd-nav) 0;
}

.content_col .ctn{
    display: inline-block;
}

/*----------- Services -----------*/
.services{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.services .item_service{
    width: 30%;
    border-radius: var(--border-radius);
    padding: var(--pd-nav);
    text-align: center;
    box-shadow: var(--card-bs);
}

.item_service h4{
    margin: .3rem 0;
    color: var(--navlink-txt-color);
}

.item_service p{
    font-size: 11pt;
}

.item_service i{
    color: var(--blue-color);
    background-color: var(--i-bg-color);
    padding: calc(var(--pd-nav) / 2);
    border-radius: var(--border-radius);
}

/*----------- Properties -----------*/
.properties{
    background-color: var(--properties-sec-color);
    padding: var(--pd-nav);
    width: 100%;
}

.properties .properties_content{
    text-align: center;
}

.properties_content p{
    width: 30%;
    font-size: 11pt;
    margin: 0 auto;
}

.properties .row{
    margin: calc(var(--pd-nav) * 2);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem 3rem;
}

.property_card{
    width: 22%;
    background-color: var(--primary-color);
    padding: var(--pd-nav);
    font-weight: bold;
    border-radius: calc(var(--border-radius) / 2);
    box-shadow: var(--card-bs);
    transition: var(--ts-time);
}

.property_card:hover{
    cursor: pointer;
    scale: 1.1;
}

.property_card img{
    width: 100%;
    height: 15rem;
    border-radius: calc(var(--border-radius) / 2);
}

.property_card .content h4{
    text-align: right;
    color: var(--navlink-txt-color);
}

.property_card .content .detail{
    display: flex;
    justify-content: space-between;
}

.property_card .content .detail p{
    font-size: 10pt;
}

.property_card .content .detail span{
    color: var(--blue-color);
}


/*----------- Help -----------*/
.help{
    text-align: center;
}

.help .send_email{
    border-radius: var(--border-radius);
    margin: var(--pd-nav) auto;
    box-shadow: var(--card-bs);
    padding: var(--pd-nav);
    width: 21rem;
}

.help .send_email input{
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

/*----------- Footer -----------*/
.footer{
    background-color: var(--blue-color);
    color: var(--primary-color) !important;
}

.footer_content{
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: var(--pd-nav);
}

.footer_content .col{
    width: 40%;
}

.footer_content .col li{
    padding-top: calc(var(--pd-nav) / 2);
    transition: var(--ts-time);
}

.footer_content .col li:hover{
    transform: translateX(5px);
}

.footer_content .col a{
    color: var(--primary-color);
}

.social_midia{
    padding: .5rem;
}

.social_midia i{
    font-size: 1.2rem;
    margin-left: .5rem;
    transition: var(--ts-time);
}
.social_midia i:hover{
    scale: 1.2;
    cursor: pointer;
}

.footer_bottom{
    text-align: center;
    background-color: var(--blue-color-hv);
    padding: calc(var(--pd-nav) / 2);
}


/*----------- Mobile Responsivity -----------*/
@media screen and (width <= 858px) {
       /*Navigation Bar*/
    .menuBtn{
        display: block;
    }

    .nav_links {
        height: calc(100vh - 4rem);
        width: 100%;
        background-color: var(--primary-color);
        position: absolute;
        top: 4rem;
        right: 0;
        left: -100%;
        text-align: center;
        transition: var(--ts-time);
    }

    .nav_links li{
        display: block;
    }

    .mobileMenu{
        left: 0%;
    }

    .nav_links li:nth-child(1){
        margin-top: 8rem;
    }

    .nav_links li{
        margin-top: 1rem;
    }

    /*----------- Hero -----------*/

    .hero_content{
        width: 100%;
    }

    /*----------- About Us -----------*/

    .about_us{
        flex-direction: column;
    }

    .about_us .image_col{
        width: 100%;
    }
    .about_us .content_col{
        margin-top: var(--pd-nav);
        width: 100%;
    }

    /*----------- Services -----------*/

    .services{
        flex-direction: column;
    }

    .services .item_service{
        margin-top: var(--pd-nav);
        width: 90%;
    }

    /*----------- Properties -----------*/

    .properties_content p{
        width: 100%;
    }
    
    .properties .row{
        flex-direction: column;
    }

    .property_card{
        width: 100%;
        
    }

    /*----------- Help -----------*/

    .help h2{
    width: 90%;
    }

    /*----------- Footer -----------*/

    .footer_content{
        flex-direction: column;
    }

    .footer_content .col{
        width: 100%;
        margin-top: var(--pd-nav);
    }

    .footer_bottom{
        padding: var(--pd-nav);
    }

}

/*----------- Tablet Responsivity -----------*/

@media screen and (width <= 999px) {
    .menuBtn{
        display: block;
    }

    .nav_links {
        height: calc(100vh - 4rem);
        width: 100%;
        background-color: var(--primary-color);
        position: absolute;
        top: 4rem;
        right: 0;
        left: -100%;
        text-align: center;
        transition: var(--ts-time);
    }

    .nav_links li{
        display: block;
    }

    .mobileMenu{
        left: 0%;
    }

    .nav_links li:nth-child(1){
        margin-top: 8rem;
    }

    .nav_links li{
        margin-top: 1rem;
    }


    .property_card{
        flex: 1 1 30%;
    }
}

/*----------- Code by MIGUEL KAMBAMBA -----------*/